.rojo{
    background-color: #d23c3c;
}
.verde{
    background-color: #82cd50;
}

.azul{
    background-color: #7eafce;
}
.naranja{
    background-color: #f29221;
}
.violeta{
    background-color: #8d69ad;
}
.dorado{
    background-color: #ffe162;
}


